* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

zircel-page {
  flex: 1;
}

footer {
  padding: 0 30px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: 0 auto 30px;
} 

footer a {
  margin-right: 20px;
  color: #666;
}

@media only screen and (max-width: 800px) {
  footer {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 550px) {
   footer {
     align-items: center;
     justify-content: center;
   }

   footer a {
     margin-top: 10px;
   }
}
