* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

zircel-page {
  flex: 1;
}

footer {
  width: 90%;
  max-width: 1200px;
  display: flex;
  margin: 30px auto;
} 

footer a {
  margin-right: 20px;
  color: #666;
}

@media only screen and (max-width: 800px) {
  footer {
    color: red;
  }
}

@media only screen and (max-width: 550px) {
   footer {
     color: blue;
   }
}
